
  
  <section class="ftco-section ftco-about ftco-no-pt img">
   <div class="container">
    <div class="row d-flex">
     <div class="col-md-12 about-intro">
      <div class="row">
       <div class="col-md-6 d-flex align-items-stretch">
        <div class="img d-flex w-100 align-items-center justify-content-center" style="background-image:url(../../../../assets/images/Building.jpg);">
        </div>
      </div>
      <div class="col-md-6 pl-md-5 py-5">
        <div class="row justify-content-start pb-3">
          <div class="col-md-12 heading-section ">
           <span class="subheading">About Us</span>
           <h2 class="mb-4">Résidence Albatros</h2>
           <p>
            Bienvenue sur notre site de location en ligne de la résidence Albatros à Hammam Ghazez !
             Profitez de vacances agréables dans notre  résidence près de la plage, 
             offrant un cadre pittoresque, des eaux cristallines et un climat ensoleillé.
             Notre objectif est de vous offrir des vacances mémorables lors de votre séjour.
            
            
           </p>
          
         </div>
         
       </div>
     </div>
     <div class="col-md-6 pl-md-5 py-5" style="width: 100%;">
      <div id="map" class="my-custom-map"></div>
      </div>
   </div>
  </div>
  </div>
  </div>
  </section>
  