
  
  <section class="ftco-section ftco-about ftco-no-pt img">
   <div class="container">
    <div class="row d-flex">
     <div class="col-md-12 about-intro">
      <div class="row">
       <div class="col-md-6 d-flex align-items-stretch">
        <div class="img d-flex w-100 align-items-center justify-content-center" style="background-image:url(../../../../assets/images/Building.jpg);">
        </div>
      </div>
      <div class="col-md-6 pl-md-5 py-5">
        <div class="row justify-content-start pb-3">
          <div class="col-md-12 heading-section ">
           <span class="subheading">About Us</span>
           <h2 class="mb-4">Résidence Albatros</h2>
           <p>
            Bienvenue sur notre site de location en ligne de la résidence Albatros à Hammam Ghazez !
             Nous sommes fiers de vous offrir une expérience inoubliable dans cette magnifique
              résidence située près de la plage. Avec son emplacement idéal, l'Albatros vous propose 
              un cadre pittoresque, des eaux cristallines et un climat ensoleillé tout au long de l'année.
               Notre objectif est de vous offrir un séjour exceptionnel, 
            que ce soit pour des vacances.
           </p>
          
         </div>
       </div>
     </div>
   </div>
  </div>
  </div>
  </div>
  </section>
  