<!-- Section: Design Block -->
<section class="text-center text-lg-start" style="margin-top: 40px;">
  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card bg-transparent">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">S'authentifier</h2>
            <form [formGroup]="userForm" (ngSubmit)="log()">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Email address</label>
                <input type="email" id="form3Example3" class="form-control" formControlName="email" />
                <div class="invalid-feedback opa">
                  <ng-container>
                    Email Is Required
                  </ng-container>
                  <ng-container>
                    Invalid Email Format
                  </ng-container>
                </div>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Password</label>
                <input type="password" id="form3Example4" class="form-control" formControlName="password" />
                <div class="invalid-feedback opa">
                  <ng-container>
                    Password Is Required
                  </ng-container>
                </div>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                S'authentifier
              </button>

              <!-- Register buttons -->
              <div class="text-center">
                Vous n'avez pas de compte?
                <a routerLink="/register" style="text-decoration: underline;color:blue;cursor: pointer;">Créer un compte</a>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="../../../../assets/images/albatros.jpeg" class="img-fluid rounded-4 shadow-4" alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
