
  <section class="ftco-section ftco-no-pb contact-section mb-4">
    <div class="container">
      <div class="row d-flex contact-info">
        <div class="col-md-3 d-flex">
         <div class="align-self-stretch box p-4 text-center">
          <div class="icon d-flex align-items-center justify-content-center">
           <span class="fa fa-map-marker"></span>
         </div>
         <h3 class="mb-2">Address</h3>
         <a  href="https://goo.gl/maps/pG9aEZBunxaM2wBR7" target="_blank" style="color:black">  Hammem Ghazez</a>
       </div>
     </div>
     <div class="col-md-3 d-flex">
       <div class="align-self-stretch box p-4 text-center">
        <div class="icon d-flex align-items-center justify-content-center">
         <span class="fa fa-phone"></span>
       </div>
       <h3 class="mb-2">Contact Number</h3>
       <p>+216 23271425</p>
     </div>
   </div>
   <div class="col-md-3 d-flex">
     <div class="align-self-stretch box p-4 text-center">
      <div class="icon d-flex align-items-center justify-content-center">
       <span class="fa fa-paper-plane"></span>
     </div>
     <h3 class="mb-2">Email Address</h3>
     <p><a href="mailto:info@yoursite.com">albatros@gmail.com</a></p>
   </div>
  </div>
  <div class="col-md-3 d-flex">
   <div class="align-self-stretch box p-4 text-center">
    <div class="icon d-flex align-items-center justify-content-center">
     <span class="fa fa-globe"></span>
   </div>
   <h3 class="mb-2">Website</h3>
   <p><a routerLink="home">Albatros</a></p>
  </div>
  </div>
  </div>
  </div>
  </section>
  
  
  
 
  