<div>
    <div class="legende" style="margin-top: 60px;">
    <div class="green legend-item"></div> Disponible
    
      

      <div class="orange legend-item"></div> En cours

      <div class="red legend-item" ></div> Payé

      <div class="cyan legend-item"></div> Avance

      <div class="black legend-item"></div> Amicale

    
    </div>
    <div class="table-responsive">
    <table class="table table-bordered" style="border:1px solid black">
      <thead>
        <tr>
          
          <th style="border:1px solid black"></th>
          <th style="border: 1px solid black">Description</th>
          <th *ngFor="let c of availabilities " style="border:1px solid black;"
          
          >{{c?.dateDeb | date:'dd-MM'}} au {{c?.dateFin | date:'dd-MM'}}</th>
          
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of calenders">
          
          <td style="border: 1px solid black">{{ a?.appartement.code }}</td>
          <td style="border: 1px solid black">
          {{a?.appartement.description}}
          </td>
          <ng-container *ngFor="let availability of a.calendrier.availabilities">
            <td
              class="boxInfo"
              [ngClass]="{ 'available': availability.available,
              'paid': availability.status === 'Payé',
              'in-progress': availability.status === 'En cours',
              'amicale': availability.status === 'Amicale',
              'avance': availability.status === 'Avance',
            'not-mine' : availability.persId !== '' && availability.persId !== colaborateur  }"
              style="border: 1px solid black; cursor: pointer;"
              
             [routerLink]="['../colabApart',a?.appartement._id,availability.dateDeb,availability._id]"
            >
            <span *ngIf="availability.persId == colaborateur && availability.nom != ''"> {{availability.nom}}</span>
            <span *ngIf="availability.nom == ''"> {{availability.price}}   </span>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    </div>
