.available {
  background-color: #76F467;
}

.not-available {
  background-color: #F94C46;
}

.tableReserv {
  margin-top: 60px;
  margin-bottom: 20px;
}

.paid {
  background-color: rgb(190, 61, 61);
    color:white
}

.in-progress {
  background-color: orange;
}

.amicale {
  background-color: rgb(37, 32, 32);
  color:white
}

.avance {
  background-color: cyan;
}

.not-mine {
  pointer-events: none;
  color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.green {
  background-color: #76F467;
  width: 30px;
  height: 30px;
  margin: 10px;
}

.red {
  background-color: rgb(190, 61, 61);
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 10px;
}

.cyan {
  background-color: cyan;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 10px;
}

.orange {
  background-color: orange;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 10px;
}

.black {
  background-color: rgb(37, 32, 32);
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 10px;
}
.green,
.red,
.cyan,
.orange,
.black {
  width: 50px;
  padding-top: 10px; /* Adjust the padding-top value as desired */
  margin: 5px;
}

.legende {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.legend-item div {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.legend-item span {
  font-size: 12px;
}

/* Media Query for small screens */
@media (max-width: 150px) {
  .legend-item {
    flex-basis: 50%;
    margin-bottom: 5px;
  }
}







