<br>
<i class="fa-solid fa-arrow-left fa-xl" routerLink="/colabdash" style="position: relative;left: 20px;cursor: pointer;"></i>
<h1 style="text-align: center;margin: 5%;">{{cod}} : {{datede | date:'dd/MM'}} au {{dateFin | date:'dd/MM'}}</h1>
<div
  class="formbold-main-wrapper"
  style="margin-top: 0% !important; width: 97% !important"
  *ngIf="showForm"
>
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="formbold-form-wrapper">
    <form  [formGroup]="reservForm" (ngSubmit)="reser()">
      <div class="formbold-form-title">
        <h2 class="">Réserver</h2>
        <p> </p>
      </div>

      
        
        <label for="address" class="formbold-form-label">Prénom </label>
        <input
          type="text"
          name="address"
          id="address"
          
          formControlName="firstName"
          
        />
      

      
        
        <label for="address" class="formbold-form-label">Nom </label>
        <input
          type="text"
          name="address"
          id="address"
          
          formControlName="lastName"
          
        />
      

      

      
        
        <label for="address" class="formbold-form-label">CIN </label>
        <input
          type="text"
          name="address"
          id="address"
          
          formControlName="cin"
          
        />
      

      
        
        <label for="address" class="formbold-form-label">N° Telephone </label>
        <input
          type="text"
          name="address"
          id="address"
          
          formControlName="ntel"
          
        />
      
        
        
      

      
        
        <label for="address" class="formbold-form-label">Etat </label>
        <label>
          <input name="status" type="radio" value="Amicale" formControlName="status">
          Amicale
        </label>
      
        <label>
          <input name="status" type="radio" value="Avance" formControlName="status">
          Avance
        </label>
      
        <label>
          <input name="status" type="radio" value="Payé" formControlName="status">
          Payé
        </label>

        <label>
          <input name="status" type="radio" value="En cours" formControlName="status">
          En cours
        </label>
      
        <br>
        <label for="remarque">Remarque: </label>
        <input type="text" formControlName="remarque">
        
      
        <br>

      <button
        class="formbold-btn"
        type="submit"
        style="background-color: rgb(147, 147, 255)"
      >
        Confirm
      </button>
    </form>
  </div>
</div>

<div *ngIf="adminres">
    <h1 style="text-align: center;margin: 5%;">Reservé pour  </h1>
    <form [formGroup]="modifFormAdmin" (ngSubmit)="modifadmin()">
      <table>
        
        <tr>
          <td>Prénom:</td>
          <td><input type="text" formControlName="firstName"></td>
        </tr>
        <tr>
          <td>Nom:</td>
          <td><input type="text" formControlName="lastName"></td>
        </tr>
        <tr>
          <td>Cin:</td>
          <td><input type="text" formControlName="cin"></td>
        </tr>
        <tr>
          <td>Téléphone:</td>
          <td><input type="text" formControlName="ntel"></td>
        </tr>

        
      </table>
    
      <label for="status">Etat: </label>
      <label>
        <input type="radio" name="status" value="Amicale" formControlName="status"> Amicale
      </label>
      <label>
        <input type="radio" name="status" value="Avance" formControlName="status"> Avance
      </label>
      <label>
        <input type="radio" name="status" value="Payé" formControlName="status"> Payé
      </label>
      <label>
        <input type="radio" name="status" value="En cours" formControlName="status"> En cours
      </label>
      
      <br>
      <label for="remarque">Remarque: </label>
      <input type="text" formControlName="remarque">
    <br>
      <button type="submit" class="btn btn-success">Modifier</button>
    </form>
    
    
            
            <br>
            <button type="button" class="btn btn-danger" (click)="annuler1()">Annuler</button>
           
            
        </div>
