<button (click)="this.requestSubscription()">Subscribe</button>
<div>
    <div class="legende" style="margin-top: 60px;">
    <div class="green"></div> Disponible
    
      

      <div class="orange"></div> En cours

      <div class="red"></div> Payé

      <div class="cyan"></div> Avance

      <div class="black"></div> Amicale

    
    </div>
    <div class="table-responsive">
    <table class="table table-bordered" style="border:1px solid white">
      <thead>
        <tr>
          
          <th style="border:1px solid black"></th>
          <th style="border: 1px solid black">Description</th>
          <th *ngFor="let c of availabilities " style="border:1px solid black;cursor: pointer;"
          [routerLink]="['../listReser',c?.dateDeb,c?.dateFin]"
          >{{c?.dateDeb | date:'dd-MM'}} au {{c?.dateFin | date:'dd-MM'}}</th>
          
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of calenders">
          
          <td style="border: 1px solid black">{{ a?.appartement.code }}</td>
          <td style="border: 1px solid black">
          {{a?.appartement.description}}
          </td>
          <ng-container *ngFor="let availability of a.calendrier.availabilities">
            <td
              class="boxInfo"
              [ngClass]="{ 'available': availability.available,
              'paid': availability.status === 'Payé',
              'in-progress': availability.status === 'En cours',
              'amicale': availability.status === 'Amicale',
              'avance': availability.status === 'Avance'}"
              style="border: 1px solid white; cursor: pointer;"
             [routerLink]="['../adminSelectedApart',a?.appartement._id,availability.dateDeb,availability._id,availability.dateFin,a?.appartement.code]"
            >
            <span *ngIf="availability.nom != ''"> {{availability.nom}} - {{availability.price}}</span>
            <span *ngIf="availability.nom == ''">{{availability.price}}</span>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    </div>
