<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">Albatros   <i class="fa-solid fa-dove" style="color: #ffffff;margin-left: 5px;"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto align-items-center">
              <a routerLink="home" class="nav-link" routerLinkActive="active" (click)="closeMenu()">Appartements</a>
              <a routerLink="siteArcheologiques" class="nav-link" routerLinkActive="active" (click)="closeMenu()">Sites archéologiques </a>
              <a routerLink="zonesLoisir" class="nav-link" routerLinkActive="active" (click)="closeMenu()">Zones de loisir </a>
              <a routerLink="about" class="nav-link" routerLinkActive="active" (click)="closeMenu()">A propos</a>
              <a routerLink="contact" class="nav-link" routerLinkActive="active" (click)="closeMenu()">Contact</a>
              <span class="nav-item" *ngIf="showSignin">
                <a routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
              </span>
              <div class="nav-item dropdown" *ngIf="!showSignin">
                
                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa-solid fa-user"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="profileDropdown">
                  <button class="dropdown-item" style="border: 0;" routerLink="profile">Profile</button>
                  <button class="dropdown-item" routerLink="changePass" >Changer mot de passe</button>
                  <button class="dropdown-item" (click)="Disconnect()">Déconnecter</button>
                </div>
              </div>
            </ul>
          </div>
          
          
    </div>
</nav>
<!-- END nav -->
<section class="hero-wrap hero-wrap-2 js-fullheight hro" style="background-image: url('../../../assets/images/bhar1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
        <div class="col-md-9  pb-5 text-center">
         
       </div>
     </div>
   </div>
  </section>

  <router-outlet></router-outlet>

<footer class="ftco-footer bg-bottom ftco-no-pt" >
    <div class="container">
        <div class="row mb-5">
            <div class="col-md pt-5">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2">About</h2>
                    <p>Site de location en ligne de la résidence Albatros à Hammam Ghazez</p>
                    
                </div>
            </div>
           
            <div class="col-md pt-5 border-left">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2">Contact</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map-marker"></span><span class="text"> <a  href="https://goo.gl/maps/pG9aEZBunxaM2wBR7" target="_blank" style="color:black">  Hammem Ghazez</a></span></li>
                            <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+216 232 71425 </span></a></li>
                            <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">residencealbatros3@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>