<section class="ftco-section services-section">
        <h1 class="mb-4" style="text-align: center;">Sites Archéologiques</h1>
        <br>
  <div class="container" style="margin-top: 20px;font-size: 17px;">
    <div class="row d-flex">
      <h2 class="mb-4">1- Grottes El Haouaria</h2>
    <div class="col-md-6">
     <div class="row">
      
      <!-- Carousel -->
<div id="carousel1" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#carousel1" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/images/Les-grottes-del-Haouaria-1170x780.jpg">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/Les-grottes-del-Haouaria-2.jpg">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/Grottes-Haouaria.jpg">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
      
      
    </div>
  </div>
  <div class="col-md-6 order-md-last heading-section pl-md-5  d-flex align-items-center">
    <div class="w-100">
     
     
     <p style="line-height: 2.2;">
      Les grottes d’el Haouaria situées au Cap Bon en Tunisie, servaient comme des carrières souterraines

      Près d’elles, débarqua vers 310 avant J.C Agathocle avec son armée.
      Depuis le 7ème siècle avant J.C, la pierre de grès fut extraite de cette carrière pour construire des monuments de Carthage punique. Mais  aussi ces carrières ont été aussi exploitées par les romains. Le lieu stratégique (à 60km de Carthage) permettait la continuité de exploitation de ces  carrières.

Le calcaire jaune était aussi extrait de cette carrière. Les exploitations se faisaient à l’air libre ou dans des puits.
Aujourd’hui, on peut voir les puits de montée carrés. Au dessous, la cavité s’élargit pour la carrière proprement dite qui affecte la forme d’une carafe dont la surface au fond varie entre 15 et 27 m2

Plusieurs vestiges et outils étaient construits de matériaux de ces carrières, on a trouvé des tombes et des murs sur la colline de Byrsa, des sarcophages d’époque punique, des parties des thermes d’Antonin construits de ces roches.
         </p>
   </div>
 </div>
</div> <br>
<h5>Localisation</h5>

<div id="map" class="my-custom-map"></div>
<br>
<a href="https://goo.gl/maps/bfkLPb8LGVcjmLeeA" class="btn btn-primary py-3 px-4"><i class="fa-solid fa-location-dot" style="color: #fdfaf6;"></i>
 Litinéraire</a>

<hr><br>


<div class="row d-flex">
  <h2 class="mb-4">2- Le musée de Kerkouane</h2>
<div class="col-md-6">
 <div class="row">
  

  <!-- Carousel -->
<div id="carousel2" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/images/Musée-archéologique-de-Kerkouane1.jpg">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/Musée_de_Kerkouane_01.jpg" >
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/musée2.jpg" >
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
  
  
</div>
</div>
<div class="col-md-6 order-md-last heading-section pl-md-5  d-flex align-items-center">
<div class="w-100">
 
 
 <p style="line-height: 2.2;">
  Le Musée de Kerkouane, inauguré en 1987, abrite une partie des objets découverts lors des 
  fouilles de la cité punique et de ses nécropoles. Les collections exposées racontent la vie 
  quotidienne, la vie religieuse et l'univers des morts. Le musée présente une variété d'éléments 
  architectoniques et de céramiques, dont des amphores et une gargouille ornée d'un protomé de 
  taureau, un symbole de la fondation de Carthage. Des salles dédiées retracent la vie quotidienne,
   les croyances funéraires et les divinités. Le musée de Kerkouane offre un aperçu fascinant de 
   la civilisation punique et de ses interactions en Méditerranée.
 </p>
</div>
</div>
</div>
<br>
<h5>Localisation</h5>
<div id="map2" class="my-custom-map"></div>
<br>
<a href="https://goo.gl/maps/erkURJxKWqubdDts6" class="btn btn-primary py-3 px-4"><i class="fa-solid fa-location-dot" style="color: #fdfaf6;"></i>
 Litinéraire</a>

<hr><br>
<div class="row d-flex">
  <h2 class="mb-4">3- Le fort de Kélibia</h2>
<div class="col-md-6">
 <div class="row">
 
   <!-- Carousel -->
<div id="carousel3" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel3" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#carousel3" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#carousel3" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/images/fort-kelibia1.jpeg">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/Le-fort-de-Kélibia-5.jpg">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/Un_canon_du_fort_de_Kélibia.jpeg">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
  
  
  
</div>
</div>
<div class="col-md-6 order-md-last heading-section pl-md-5  d-flex align-items-center">
<div class="w-100">
 
 
 <p style="line-height: 2.2;">
  Le fort de Kélibia, une citadelle du XVIe siècle, trône au sommet d'un promontoire rocheux de
   150 mètres de haut, dominant la mer Méditerranée et la ville de Kélibia dans le gouvernorat de 
   Nabeul. Cette forteresse intègre des éléments romains remontant au IIIe siècle av. J.-C., et 
   une première structure défensive punique occupait déjà cette position. Détruite par les Romains,
    elle fut reconstruite sous les Byzantins, subissant des modifications constantes au fil du temps
    , notamment au XVIe siècle lorsque les Ottomans la renforcèrent face aux attaques espagnoles.
     La visite offre un panorama époustouflant depuis les remparts, avec la possibilité d'apercevoir
      la Sicile par temps clair.
 </p>
</div>
</div>
</div>
<br>
<h5>Localisation</h5>
<div id="map3" class="my-custom-map"></div>
<br>
<a href="https://goo.gl/maps/5PLt6Ui1kppsQAik6" class="btn btn-primary py-3 px-4"><i class="fa-solid fa-location-dot" style="color: #fdfaf6;"></i>
 Litinéraire</a>
<hr>

</div>
</section>