html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  height: 80%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.left-column {
  width: 50%; /* Adjust the width as needed */
  height: 300px !important; /* Adjust the height as needed */
  position: relative;
}

.right-column {
  width: 50%; /* Adjust the width as needed */
  margin-top: 60px;
}

.left-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  left: 0;
  top: 0;
  opacity: 1;
  transition: all 0.3s ease;
}

.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}

.cart-btn:hover {
  background-color: #64af3d;
}

@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
    height: auto;
  }

  .left-column img {
    width: 100%;
    height: auto;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 100%;
    top: -85px;
  }
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-item {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.4s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}

.available {
  background-color: #76F467;
}

.not-available {
  background-color: #F94C46;
  pointer-events: none;
}


.formbold-main-wrapper {
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.formbold-form-wrapper {
  margin: 0 auto;
  /* max-width: 100%; */

  background: white;
  
}

.formbold-img {
  margin-bottom: 45px;
}

.formbold-form-title {
  margin-bottom: 30px;
}
.formbold-form-title h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #07074d;
}
.formbold-form-title p {
  font-size: 16px;
  line-height: 24px;
  color: #536387;
  margin-top: 12px;
}

.formbold-input-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}
.formbold-input-flex > div {
  width: 50%;
}
.formbold-form-input {
  text-align: center;
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.formbold-form-label {
  color: #536387;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
}

.formbold-checkbox-label {
  display: flex;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  line-height: 24px;
  color: #536387;
}
.formbold-checkbox-label a {
  margin-left: 5px;
  color: #6a64f1;
}
.formbold-input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.formbold-checkbox-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  margin-top: 2px;
  border: 0.7px solid #dde3ec;
  border-radius: 3px;
}

.formbold-btn {
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  background-color: #6a64f1;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}


@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Nunito:wght@200;400&display=swap");
ngb-rating {
  color: #ffc107;
  font-size: 30px;
}

.selectedC {
  background-color: rgb(96, 163, 234);
  color: white !important;
}

.green {
  background-color: #76F467;
  width:70px;
  height: 30px;
  margin: 20px;
}

.red {
  background-color: #F94C46;
  width:70px;
  height: 30px;
  margin-left: 40px;
  margin-right: 20px;
}
.legende {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
  width: 100%;
  
}

.tableReserv {
  margin-top: 60px;
  margin-bottom: 20px;
}

.characteristics-container {
  width: 100%;
  margin-bottom: 20px; /* Add margin for spacing */
}

.check-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px; /* Adjust the gap between items */
}

.check-list i {
  margin-right: 8px; /* Adjust spacing between icon and text */
}

.calender-div {
 
  width: 100%;
  height: 100%; /* Make it full width by default */
}

/* Apply different styles for screens larger than 768px (typical breakpoint for tablets and larger devices) */
@media screen and (min-width: 768px) {
  .calender-div {
    width: 75%; 
  }
}

/* Apply different styles for screens larger than 992px (typical breakpoint for desktops and larger devices) */
@media screen and (min-width: 992px) {
  .calender-div {
    width: 50%; 
  }
}

.lengend-div{
  margin: 0 auto;
  width: 100%;
}


.container-cal {
  max-width: 1200px;
  height: 80%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}