<main class="container" style="margin-top: 5%;">
  <div class="row">
    <!-- Left Column / Headphones Image -->
    <div class="col-md-6">
      <!-- Carousel -->
      <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
          <button type="button" [attr.data-bs-target]="'#demo'" [attr.data-bs-slide-to]="i" [class.active]="i === 0" *ngFor="let image of images; let i = index"></button>
        </div>
      
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          <div class="carousel-item" [class.active]="i === 0" *ngFor="let image of images; let i = index">
            <img [src]="image.img" alt="Slide Image" class="d-block w-100"  loading="eager">
          </div>
        </div>
      
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#demo'" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#demo'" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
      
      
    </div>

    <!-- Right Column -->
    <div class="col-md-6">
      <!-- Product Description -->
      <div class="product-description">
        <span>Appartement</span>
        <h1>{{Apart?.code}} : {{Apart?.name}}</h1>
        <p>{{Apart?.description}}</p>
      </div>

      <!-- Product Configuration -->
      <div class="product-configuration">
        <!-- Product Color -->
        <div class="product-color">
          <span>Color</span>
          <div class="color-choose"></div>
        </div>

        <!-- Cable Configuration -->
        <div class="cable-config">
          <span>Cable configuration</span>
          <div class="cable-choose"></div>
          <a href="#">How to configure your headphones</a>
        </div>
      </div>

      <!-- Product Pricing -->
      <div class="product-price">
        <span>{{Apart?.price}} DT</span>
        
      </div>
    </div>
  </div>
  
</main>
<div>
<div class="legende" style="margin-top: 60px;">
<div class="green"></div> Disponible

  <div class="red"></div> Non Disponible

</div>
Choisissez une date pour reserver 
<div class="table-responsive">
<table class="table table-bordered" style="border:1px solid black">
  <thead>
    <tr>
      <th style="border:1px solid black"></th>
      <th *ngFor="let c of calender?.availabilities " style="border:1px solid black"
      >{{c?.dateDeb | date:'dd-MM'}} au {{c?.dateFin | date:'dd-MM'}}</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border:1px solid black">{{Apart?.name}}</td>
     <td *ngFor="let c of calender?.availabilities" 
     class="boxInfo"
     
     [ngClass]="{'available': c.available, 'not-available': !c.available}"
      style="border:1px solid black;cursor: pointer;" (click)="show(c)" 
      (click)="onBoxClick($event)"
      
      > </td>
      
    </tr>
   
  </tbody>
</table>
</div>

<div
  class="formbold-main-wrapper"
  style="margin-top: 0% !important; width: 97% !important"
  *ngIf="showForm"
>
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="formbold-form-wrapper">
    <form [formGroup]="reservForm" (ngSubmit)="reserver()">
      <div class="formbold-form-title">
        <h2 class="">Réserver</h2>
        <p>Date : {{selectedCell.dateDeb | date:'dd-MM'}} au {{selectedCell.dateFin | date:'dd-MM'}} </p>
      </div>

      <div class="formbold-mb-3">
        
        <label for="address" class="formbold-form-label">CIN </label>
        <input
          type="text"
          name="address"
          id="address"
          class="formbold-form-input"
          formControlName="cin"
          
        />
      </div>

      <div class="formbold-mb-3">
        
        <label for="address" class="formbold-form-label">N° Telephone </label>
        <input
          type="text"
          name="address"
          id="address"
          class="formbold-form-input"
          formControlName="ntel"
          
        />
      </div>
      <div class="formbold-mb-3">
        
        <label for="address" class="formbold-form-label">Region </label>
        <input
          type="text"
          name="address"
          id="address"
          class="formbold-form-input"
          formControlName="region"
          
        />
      </div>

      

      <button
        class="formbold-btn"
        type="submit"
        style="background-color: rgb(147, 147, 255)"
      >
        Confirm
      </button>
    </form>
  </div>
</div>